@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  color: #fff;
}
table {
  background-color: #272727;
}
.title {
  color: #3AC1C8;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
table caption {
  text-align: left;
  font-weight: bold;
  line-height: 40px;
}
table thead tr td {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #5d5d5d;
}

table tr {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  color: #c9c9c9;
}
table tr td {
  padding: 8px;
}
table .id {
  font-weight: bold;
  color: #fff;
}
.status-open {
  width: 16px;
  height: 16px;
  left: 0px;
  top: 4px;
  background-color: #FF657A;
  border-radius: 50%;
  display: inline-block;
}
.status-closed {
  width: 16px;
  height: 16px;
  left: 0px;
  top: 4px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}
.status-closed span,
.status-open span {
  margin-left: 20px;
}