@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  color: #fff;
}
table {
  background-color: #272727;
  font-family: 'Roboto';
  width: 100%;
}
.title {
  color: #3AC1C8;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.caption {
  text-align: left;
  font-weight: bold;
  line-height: 40px;
  background-color: #272727;
  padding: 8px;
}
table thead tr td {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #5d5d5d;
}

table tr {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  color: #c9c9c9;
}
table tr td {
  padding: 8px;
}
table .id {
  font-weight: bold;
  color: #fff;
}
.status-open {
  width: 16px;
  height: 16px;
  background-color: #FF657A;
  border-radius: 50%;
  display: inline-block;
}
.status-closed {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}
.status-closed span,
.status-open span {
  margin-left: 20px;
}

.select {
  display: flex;
  justify-content: flex-end;
}
.select span {
  color: #c9c9c9;
}

.react-select-container {
  background-color: #272727;
  margin: 0 5px;
}
.react-select__control {
  display: flex;
}
.titleWrapper {
  display: flex;
  justify-content: space-between;
}
#search-box {
  background-color: #494949;
}
